#banner
    .owl-carousel.owl-theme.owl-carousel-banner
        .item.banner
            .img-banner
                img(src="https://st.hzcdn.com/simgs/5381c08706afbe7d_16-0379/contemporary-bathroom.jpg", alt="")
            .text-banner
                .title-banner
                    h3 Cách mới để thiết kế ngôi nhà của bạn
                .text-content
                    span Lấy cảm hứng. Cửa hàng Sản phẩm.
                .btn-banner
                    a(href="#") Bắt đầu
        .item.banner
            .img-banner
                img(src="https://st.hzcdn.com/simgs/bb71fb3e009bf5a4_16-0372/contemporary-kitchen.jpg", alt="")
            .text-banner
                .title-banner
                    h3 Cách mới để thiết kế ngôi nhà của bạn
                .text-content
                    span Lấy cảm hứng. Cửa hàng Sản phẩm.
                .btn-banner
                    a(href="#") Bắt đầu
        .item.banner
            .img-banner
                img(src="https://st.hzcdn.com/simgs/c2a1ff100a83762a_16-7675/eclectic-living-room.jpg", alt="")
            .text-banner
                .title-banner
                    h3 Cách mới để thiết kế ngôi nhà của bạn
                .text-content
                    span Lấy cảm hứng. Cửa hàng Sản phẩm.
                .btn-banner
                    a(href="#") Bắt đầu