#banner
    .owl-carousel.owl-theme
        .item.banner
            .img-banner
                img(src="https://st.hzcdn.com/simgs/5381c08706afbe7d_16-0379/contemporary-bathroom.jpg", alt="")
            .text-banner
                .title-banner
                    h3 The New Way to Design Your Home
                .text-content
                    span Get Inspired. Shop Products. Find Pros.
                .btn-banner
                    a(href="#") Get Started
        .item.banner
            .img-banner
                img(src="https://st.hzcdn.com/simgs/bb71fb3e009bf5a4_16-0372/contemporary-kitchen.jpg", alt="")
            .text-banner
                .title-banner
                    h3 The New Way to Design Your Home
                .text-content
                    span Get Inspired. Shop Products. Find Pros.
                .btn-banner
                    a(href="#") Get Started
        .item.banner
            .img-banner
                img(src="https://st.hzcdn.com/simgs/c2a1ff100a83762a_16-7675/eclectic-living-room.jpg", alt="")
            .text-banner
                .title-banner
                    h3 The New Way to Design Your Home
                .text-content
                    span Get Inspired. Shop Products. Find Pros.
                .btn-banner
                    a(href="#") Get Started