.container
    #sidebar
        .sidebar-menu
            .main-title
                h3 Danh mục sản phẩm
            ul.sub-menu-content
                li.menu-item.content-flex
                    a(href="#") Tất cả
                        span.menu-plug (1111)
                li.menu-item.content-flex
                    a(href="#") Giường
                        span.menu-plug (23)
                    span.menu-icon
                        i.fas.fa-chevron-right
                li.menu-item.content-flex
                    a(href="#") Tủ
                        span.menu-plug (75)
                    span.menu-icon
                        i.fas.fa-chevron-right
                li.menu-item.content-flex
                    a(href="#") Bàn
                        span.menu-plug (77)
                    span.menu-icon
                        i.fas.fa-chevron-right
                li.menu-item.content-flex
                    a(href="#") Ghế
                        span.menu-plug (177)
                    span.menu-icon
                        i.fas.fa-chevron-right
                li.menu-item.content-flex
                    a(href="#") Sofa đơn
                        span.menu-plug (66)
                    span.menu-icon
                        i.fas.fa-chevron-right
                li.menu-item.content-flex
                    a(href="#") Sofa
                        span.menu-plug (55)
                    span.menu-icon
                        i.fas.fa-chevron-right
                li.menu-item.content-flex
                    a(href="#") Bàn cafe
                        span.menu-plug (54)
                    span.menu-icon
                        i.fas.fa-chevron-right
                li.menu-item.content-flex
                    a(href="#") Kệ
                        span.menu-plug (14)
                    span.menu-icon
                        i.fas.fa-chevron-right
                li.menu-item.content-flex
                    a(href="#") Phụ kiện
                        span.menu-plug (324)
                    span.menu-icon
                        i.fas.fa-chevron-right
                li.menu-item.content-flex
                    a(href="#") Trang trí
                        span.menu-plug (124)
                    span.menu-icon
                        i.fas.fa-chevron-right
        .filter-menu.sidebar-menu.mt-3
            .main-title
                h3 Bộ lọc
            .main-content
                .filter-header.content-flex
                    span Thương hiệu
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.filter-content
                    li.search
                        button
                            <i class="fas fa-search"></i>
                        input(type="text" placeholder="tìm kiếm...")
