.concept-info_wrapper
    .concept-content-box.p-3
        .concept-content-space-owner    
            .concept-content-space-owner_info-avatar
                a(href="#")
                    img(src="https://st.hzcdn.com/simgs/ee53d18f01071ab1_1-0081/_.jpg")
            .concept-content-space-owner_info-details.ml-3
                .space-owner_info-details_name
                    a(href="#" style="font-weight:600") Trung Hiếu
                .space-owner_info-details_rating.d-flex
                    .space-owner_info-details_rating_icon
                        span.fa.fa-star.checked
                        span.fa.fa-star.checked
                        span.fa.fa-star.checked
                        span.fa.fa-star.checked
                        span.fa.fa-star.checked
                    span.ml-2(style="font-size:13px;line-height:23px") 4 Reviews
    .concept-content-box.p-3
        .concept-content-space-info
            .space-info_title
                h2
                    span.space-title__line Albany Four - New Show Home
                    span.space-title__line.space-title__line-sub Contemporary Pool, Auckland
            .space-facets
                ul.space-facets_content
                    li
                        a(href="#").text-green Contemporary
                    li
                        a(href="#").text-green Auckland
                    li
                        a(href="#").text-green Website
                            span.more-icon
            .space-description
                p Mike Hollman
            .concept-project-photo
                .project-photo_title
                    h2.fz-14 Other Photos in 
                        a(href="#").text-green Albany Four



