
include ./datafake.pug
.concept-info_wrapper
    .concept-content-box.p-3
        .concept-content-space-owner    
            .concept-content-space-owner_info-avatar
                a(href="#")
                    img(src="https://st.hzcdn.com/simgs/ee53d18f01071ab1_1-0081/_.jpg")
            .concept-content-space-owner_info-details.ml-3
                .space-owner_info-details_name
                    a(href="#" style="font-weight:600") Trung Hiếu
                .space-owner_info-details_rating.d-flex
                    .space-owner_info-details_rating_icon
                        span.fa.fa-star.checked
                        span.fa.fa-star.checked
                        span.fa.fa-star.checked
                        span.fa.fa-star.checked
                        span.fa.fa-star.checked
                    span.ml-2(style="font-size:13px;line-height:23px") 4 Reviews
    .concept-content-box.px-3.pt-3.pb-0
        .concept-content-space-info
            .space-info_title.mb-1
                h2
                    span.space-title__line Albany Four - New Show Home
                    span.space-title__line.space-title__line-sub Contemporary Pool, Auckland
            .space-facets
                ul.space-facets_content
                    li
                        a(href="#").text-green Contemporary
                    li
                        a(href="#").text-green Auckland
                    li
                        a(href="#").text-green Website
                            span.more-icon
            .space-description.mb-5
                p Mike Hollman
            .concept-project-photo
                .concept_title
                    h2 Other Photos in 
                        a(href="#").text-green.ml-1 Albany Four
                    .project-photo_img.my-2
                        .row.m-0
                            .box-img.px-1.mb-2.grid-reponsive-custom
                                a(href="#")
                                    .img_responsive
                                        img(src="https://st.hzcdn.com/fimgs/8761dd7607699e6c_2233-w75-h75-b0-p0--home-design.jpg")
                            .box-img.px-1.mb-2.grid-reponsive-custom
                                a(href="#")
                                    .img_responsive
                                        img(src="https://st.hzcdn.com/fimgs/3ea1c66107699e23_1966-w75-h75-b0-p0--home-design.jpg")
                            .box-img.px-1.mb-2.grid-reponsive-custom
                                a(href="#")
                                    .img_responsive
                                        img(src="https://st.hzcdn.com/fimgs/1091cb9207699dff_1965-w75-h75-b0-p0--home-design.jpg")
                            .box-img.px-1.mb-2.grid-reponsive-custom
                                a(href="#")
                                    .img_responsive
                                        img(src="https://st.hzcdn.com/fimgs/d9116f9507699e8f_1906-w75-h75-b0-p0--home-design.jpg")
                            .box-img.px-1.mb-2.grid-reponsive-custom
                                a(href="#")
                                    .img_responsive
                                        img(src="https://st.hzcdn.com/fimgs/93d180a507699f68_1987-w75-h75-b0-p0--home-design.jpg")
    .concept-content-box.px-3.pt-3
        .contept-content-recommendations-spaces
            .concept_title
                h2 Similar Ideas 
            .recommendations-spaces_photo
                .recommendations-spaces_photo_img.my-2
                    .row.m-0
                        each item in listImgConcept
                            .box-img.px-1.mb-2.grid-reponsive-custom
                                a(href="#")
                                    .img_responsive
                                        img(src=item)
    .concept-content-box.px-3.pt-3
        .contept-content-space-rel-prod
            .concept_title
                h2 Related Products
            .space-rel-prod_photo
                .space-rel-prod_photo_img.my-2
                    .row.m-0
                        each item in listImgConceptProduct
                            .box-img.px-1.mb-2.col-3
                                a(href="#")
                                    .img_responsive
                                        img(src=item.src)
                                    .space-price.text-center.d-block
                                        span=item.price
    .concept-content-box.px-3.pt-3
        .contept-content-comment-question
            .concept_title
                h2 Questions About This Photo (25)
            .comment-question.my-3
                .btn-cmt-quest
                    button.btn_cmt-quest Hỏi Đáp
                .notification-cmt-quest.my-1
                    span Có bất kì câu hỏi nào về ảnh? Nhắn tin hỏi tại đây.
                    

