.product-content
    .container
        .banner-list.my-2
            include ./banner.pug
        .product-category.my-2.d-flex
            a.category-item(href="")
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/22/bed-at-3x-1571714848.png")
                p GIƯỜNG
            a.category-item(href="")
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/22/tu-at-3x-1571714906.png")
                p TỦ
            a.category-item(href="")
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/22/table-at-3x-1571714875.png")
                p BÀN
            a.category-item(href="")
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/22/chair-at-3x-1571715065.png")
                p GHẾ
            a.category-item(href="")
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/22/armchair-at-3x-1571714813.png")
                p SOFA ĐƠN
            a.category-item(href="")
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/22/sofa-at-3x-1571715048.png")
                p SOFA
            a.category-item(href="")
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/22/low-table-at-3x-1571714991.png")
                p BÀN CAFE
            a.category-item(href="")
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/22/cabinet-at-3x-1571715009.png")
                p KỆ
            a.category-item(href="")
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/22/phu-kien-at-3x-1571715029.png")
                p PHỤ KIỆN
            a.category-item(href="")
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/29/trang-tri-at-3x-1572344851.png")
                p TRANG TRÍ
        .on-sale-product.my-2
            .title
                h4.product-title.m-0 sản phẩm đang giảm giá
                .extentsion.px-2 
                    a(href="").mr-2 xem thêm sản phẩm 
                    <i class="fas fa-chevron-right"></i>
            .product-item-list.my-2.p-2
            include ./sale-ticket.pug
        .hot-product.my-2
            .title
                h4.product-title.m-0 sản phẩm bán chạy
                .extentsion.px-2 
                    a(href="").mr-2 xem thêm sản phẩm 
                    <i class="fas fa-chevron-right"></i>
            .product-item-list.my-2.p-2
        .collection-product
            .title
                h4.product-title.m-0 sản phẩm mới
                .extentsion.px-2 
                    a(href="").mr-2 xem thêm sản phẩm 
                    <i class="fas fa-chevron-right"></i>
            .product-item-list.my-2.p-2
        .recent-product
            .title
                h4.product-title.m-0 sản phẩm xem gần đây
                .extentsion.px-2 
                    a(href="").mr-2 xem thêm sản phẩm 
                    <i class="fas fa-chevron-right"></i>
            .product-item-list.my-2.p-2
        