.product-content
    .container-fluid.wrapper-content.pd-custom-layout
        .banner-list.my-2
            include ./banner.pug
        .product-category.my-2.d-flex
            each item in listIconMenu
                a.category-item(href=item.src)
                    img.main-img(src=item.srcImg)
                    img.sub-img(src=item.srcImgHv)
                    p=item.name
        .on-sale-product.my-3
            .title.py-2
                h4.product-title.m-0 sản phẩm đang giảm giá
                .extentsion.px-2 
                    a(href="./category-product.html").mr-2 xem thêm sản phẩm 
                    <i class="fas fa-chevron-right"></i>
            .product-item-list
                include ./list-product-category.pug
            include ./sale-ticket.pug
        .hot-product.my-3
            .title.py-2
                h4.product-title.m-0 sản phẩm bán chạy
                .extentsion.px-2 
                    a(href="./category-product.html").mr-2 xem thêm sản phẩm 
                    <i class="fas fa-chevron-right"></i>
            .product-item-list
                include ./list-product-category.pug
        .collection-product.my-3
            .title.py-2
                h4.product-title.m-0 sản phẩm mới
                .extentsion.px-2 
                    a(href="./category-product.html").mr-2 xem thêm sản phẩm 
                    <i class="fas fa-chevron-right"></i>
            .product-item-list
                include ./list-product-category.pug
        .recent-product.my-3
            .title.py-2
                h4.product-title.m-0 sản phẩm xem gần đây
                .extentsion.px-2 
                    a(href="./category-product.html").mr-2 xem thêm sản phẩm 
                    <i class="fas fa-chevron-right"></i>
            .product-item-list
                include ./list-product-category.pug