//- -var listMenu = [{"title":"Giường","item":"Giường Tầng"},{"tilte":"Tủ","item":"Tủ đầu giường"},{"tilte":"Bàn","item":"Bàn trang điểm"}];
//- Menu List
-var listTitleMenu = ["Giường","Tủ","Bàn","Ghế","Sofa Đơn","Sofa","Bàn cafe","Kệ","Phụ kiện","Trang trí","Combo"];
-var itemMenu1 = ["Giường Tầng","Giường Học Kéo","Giường Đôi","Giường Đơn"];
-var itemMenu2 = ["Tủ trang trí","Tủ ngăn kéo","Tủ quần áo","Tủ giày","Tủ Bếp","Tủ đầu giường"];
-var itemMenu3 = ["Bàn làm việc","Bàn ăn","Bàn Bar","Bàn trang điểm"];
-var itemMenu4 = ["Ghế làm việc","Thư giản","Ghế Bar","Ghế Ăn"];
-var itemMenu5 = ["Ghế Đôn/Ghế lười","Ghế Băng","Bàn Đọc Sách","Bàn Bành"];
-var itemMenu6 = ["Sofa Góc","Sofa Giường","Sofa 3 Chỗ","Sofa 2 Chỗ"];
-var itemMenu7 = ["Bàn trang trí","Bàn góc","Bàn Cafe"];
-var itemMenu8 = ["Kệ treo tường","Kệ sách","Kệ Tivi"];
-var itemMenu9 = ["Gối","Nệm","Khăn","Thảm","Thùng rác","Gương","Giỏ","Đồ gia dụng"];
-var itemMenu10 = ["Tranh","Lọ Trang Trí","Cây Trang Trí","Đồng Hồ","Nến","Đèn Trang Trí"];
-var itemMenu11 = [];

