//- Menu List
-var listMenu = [{title:"Giường",item:["Giường Tầng","Giường Học Kéo","Giường Đôi","Giường Đơn"]},{title:"Tủ",item:["Tủ trang trí","Tủ ngăn kéo","Tủ quần áo","Tủ giày","Tủ Bếp","Tủ đầu giường"]},{title:"Bàn",item:["Bàn làm việc","Bàn ăn","Bàn Bar","Bàn trang điểm"]},{title:"Ghế",item:["Ghế làm việc","Thư giản","Ghế Bar","Ghế Ăn"]},{title:"Sofa Đơn",item:["Ghế Đôn/Ghế lười","Ghế Băng","Bàn Đọc Sách","Bàn Bành"]},{title:"Sofa",item:["Sofa Góc","Sofa Giường","Sofa 3 Chỗ","Sofa 2 Chỗ"]},{title:"Bàn cafe",item:["Bàn trang trí","Bàn góc","Bàn Cafe"]},{title:"Kệ",item:["Kệ treo tường","Kệ sách","Kệ Tivi"]},{title:"Phụ kiện",item:["Gối","Nệm","Khăn","Thảm","Thùng rác","Gương","Giỏ","Đồ gia dụng"]},{title:"Trang trí",item:["Tranh","Lọ Trang Trí","Cây Trang Trí","Đồng Hồ","Nến","Đèn Trang Trí"]},{title:"Combo",item:""}];
-var listMenuKgs = [{title:"Dự Án",item:"https://wedo.vn/wp-content/uploads/2019/06/mau-nha-cap-4-nong-thon-25.jpg"},{title:"Phòng Đơn",item:"https://quangan.vn/wp-content/uploads/2019/08/nha-cap-4-dep.jpg"},{title:"Phòng Đôi",item:"https://wedo.vn/wp-content/uploads/2019/06/mau-nha-cap-4-nong-thon-25.jpg"}]
//- -var listTitleMenu = ["Giường","Tủ","Bàn","Ghế","Sofa Đơn","Sofa","Bàn cafe","Kệ","Phụ kiện","Trang trí","Combo"];
//- -var itemMenu1 = ["Giường Tầng","Giường Học Kéo","Giường Đôi","Giường Đơn"];
//- -var itemMenu2 = ["Tủ trang trí","Tủ ngăn kéo","Tủ quần áo","Tủ giày","Tủ Bếp","Tủ đầu giường"];
//- -var itemMenu3 = ["Bàn làm việc","Bàn ăn","Bàn Bar","Bàn trang điểm"];
//- -var itemMenu4 = ["Ghế làm việc","Thư giản","Ghế Bar","Ghế Ăn"];
//- -var itemMenu5 = ["Ghế Đôn/Ghế lười","Ghế Băng","Bàn Đọc Sách","Bàn Bành"];
//- -var itemMenu6 = ["Sofa Góc","Sofa Giường","Sofa 3 Chỗ","Sofa 2 Chỗ"];
//- -var itemMenu7 = ["Bàn trang trí","Bàn góc","Bàn Cafe"];
//- -var itemMenu8 = ["Kệ treo tường","Kệ sách","Kệ Tivi"];
//- -var itemMenu9 = ["Gối","Nệm","Khăn","Thảm","Thùng rác","Gương","Giỏ","Đồ gia dụng"];
//- -var itemMenu10 = ["Tranh","Lọ Trang Trí","Cây Trang Trí","Đồng Hồ","Nến","Đèn Trang Trí"];
//- -var itemMenu11 = [];

