.footer-content.wrapper-footer
    .search
        img(src="https://images.alphacoders.com/932/932536.jpg?fbclid=IwAR1l4A-dKaHghfmC3OeK22Op-Rn6qrnbhDGDaHcEEStc5UtHjvvmYLUDuZs")
        .search-bar.input-group
            h3.title Đăng ký nhận thông tin khuyến mãi
            .input-bar.w-100
                input.form-control(type="text" placeholder="Nhập email của bạn")
                button.btn.btn-sending.px-4 Gửi
    .contact
        .container-fluid
            .row.m-0.py-3
                .contact-detail.col-sm-4
                    p.footer-title-highlight.my-2 Liên hệ
                    .contact-content.content-data
                        ul
                            li
                                span.footer-title-highlight Hot line: 
                                span 01683540351
                            li
                                span.footer-title-highlight Address: 
                                span 672 đường số 6 phường Tân Hương quận Tân Phú tp.HCM
                            li
                                span.footer-title-highlight Email:
                                span techersoft@gmail.com
                        .footer-logo.my-2
                            img(src="http://logofaves.com/wp-content/uploads/2012/07/art_r.jpg?9cf02b")
                .about-us.col-sm-4
                    p.footer-title-highlight.my-2 Về chúng tôi
                    .content-data
                        ul
                            li
                                a(href="") Giới thiệu
                            li
                                a(href="") Thông tin cá nhân được bảo mật
                            li
                                a(href="") Chính sách bảo mật và thanh toán
                            li
                                a(href="") Quy chế hoạt động và những điều khoản tham gia 
                            li 
                                a(href="") Bán hàng cùng chúng tôi   
                .customer-support.col-sm-4
                    p.footer-title-highlight.my-2 Hỗ trợ khách hàng
                    .content-data
                        ul
                            li
                                a(href="") Q & A
                            li
                                a(href="") Hướng dẫn đặt hàng
                            li
                                a(href="") Hướng dẫn trải nghiệm home concept
                            li
                                a(href="") Quy trình đổi trả lại hàng
                            li
                                a(href="") Giải quyết khiếu nại của khách hàng
    .co-operrate.p-0
        .container-fluid
            .company-logo.py-3
                .logo-content
                    img(src="http://freelogodesign.me/48hourslogo_data/2019/05/11/1557562577-min-mockup.png")
                .logo-content
                    img(src="https://www.specialseoservices.com/wp-content/uploads/2017/07/wooddesigne-logo.png")
                .logo-content
                    img(src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f66f9d28076381.5636f3ff3f847.jpg")
                .logo-content
                    img(src="https://cdn3.f-cdn.com/contestentries/180781/10800539/5513bc0da6ac0_thumb900.jpg")
                .logo-content
                    img(src="https://cdn5.f-cdn.com/contestentries/180781/11058351/5514f60ab9289_thumb900.jpg")
                .logo-content
                    img(src="https://cdn.dribbble.com/users/606518/screenshots/2806191/1.png")
                .logo-content
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl6N1ee98DiAoNJhC9Rp4F969XMK8JvBWFXtUb5XHfFGwDNLU5Og&s")
                .logo-content
                    img(src="https://benchdogdesigncompany.com/files/2018/08/logo.png")
                .logo-content
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcpRh6CAd_bQJTnGSYKFC6G3sdZpH-aCPr3ia49q7BVnl7WHva8g&s")
            .company-active
                ul.languge.content-data
                    li
                        a(href="") Ngôn ngữ
                    li
                        a(href="") Language
                    li
                        a(href="") 语言
                    li
                        a(href="") 言語
                    li
                        a(href="") 언어
                    li
                        a(href="") Linguagem
                    li
                        a(href="") язык
                    li
                        a(href="") Sprache
                    li
                        a(href="") Lingua
                    li
                        a(href="") La langue
                    li
                        a(href="") Idioma
                    li
                        a(href="") Sermone
        .end-footer
            .container-fluid
                .row.m-0.py-3
                    .dipoma.row.m-0.col-xl-8
                        .content
                            p.footer-title-highlight Chứng chỉ bản quyền của công ty
                            p Giấy chứng nhận kinh doanh được nhà nước cung cấp 
                            p Giấy chứng chỉ cung cấp dịch vụ thanh toán qua internet banking được ngân hàn nhà nước cấp 
                            p Văn phòng đại diện của công ty được đặt tại tp.HCM
                            p Những văn phòng đại diện ở các tỉnh thành khác trên khắp cả nước
                        .image-diploma
                            img(src="https://fitin.vn/images/dadangky.png")
                            img(src="https://fitin.vn/images/dadangky.png")
                    .social-contact.col-xl-4.d-flex.justify-content-center.align-items-center.flex-wrap
                        .app-download.d-flex
                            img(src="https://cdn-web.qr-code-generator.com/wp-content/themes/qr/new_structure/assets/media/images/api_page/qrcodes/bw/Api_page_-_QR-Code-Generator_com-1.png", alt="")
                            p.footer-title-highlight Download app
                        .social-icon
                            p.footer-title-highlight Folow us
                            .icon.d-flex
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter-square"></i>
                                <i class="fab fa-linkedin"></i>
                                <i class="fab fa-instagram"></i>