.form-search-apartment.py-4.mb-3
    .search
        .search-bar.input-group.form-relative
            .input-bar.w-100
                input.form-control.border-input(type="text" placeholder="Nhập tên")
                button.btn.btn-sending.px-4.text-nowrap.btn-sending-custom 
                    a(href="./drawings-designs.html") Tìm kiếm
                        
