include ./datafake.pug
.bg-wrapper-tras
.w-100.wrapper-header
    .header-content
        .row.align-items-center
            .col-md-2.col-2
                .logo#logo-header
                    a(href="./index.html")
                        img(src="../assets/logo-demo.png", alt="logo")
            .col-md-10.col-9
                .row
                    .col-md-6#search-box
                        .row.mx-0
                            .col-10
                                .search
                                    input.input-search(type="text")
                                    button.btn-search
                                        i.fas.fa-search
                            .col-2.d-flex.justify-content-center
                                button#btn-hide-search(onclick='showSearch()')
                                    <i class="fas fa-times"></i>
                    .col-md-6
                        ul.header-right
                            button#btn-show-search.btn-show-search(onclick='hideSearch()')
                                i.fas.fa-search
                            li.like
                                a(href="#")
                                    <i class="fas fa-heart"></i>
                                    span Yêu thích (0)
                            li.shopping-card
                                p.shopping-card_icon
                                    <i class="fas fa-cart-plus"></i>
                                    span.text-shopping 4
                                .shopping-card_list
                                    .shopping-card_list_title
                                        h2.text-center Danh sách giỏ hàng
                                    .shopping-card_list_product
                                        each item in listOfferSupplierItem
                                            .shopping-card_list_product-item
                                                .shopping-card_list_product-item-left
                                                    .shopping-card_list_product-item_img
                                                        img(src=item.imgInfo)
                                                    .shopping-card_list_product-item_quatity.px-2
                                                        p 1
                                                .shopping-card_list_product-item-right.px-3
                                                    .shopping-card_list_product-item_info
                                                        .shopping-card_list_product-item_info_name
                                                            a(href="#")=item.name
                                                        .shopping-card_list_product-item_info_price
                                                            span=item.price
                                    .shopping-card_list_btn
                                        a(href="https://techersoft.github.io/ecomerce/dist/html/cart.html")
                                            button Xem chi tiết
                            li.sign-in
                                a(href="#")
                                    i.fas.fa-user 
                                    span Đăng nhập
            .icon-menu_mobile
                button.btn-menu_mobile
                    <i class="fas fa-stream"></i>
