include ../mixins/mixin.pug
.product-list-slider
    .row
        .col-sm-6.col-md-4.col-xl-3
            +productItem
        .col-sm-6.col-md-4.col-xl-3
            +productItem
        .col-sm-6.col-md-4.col-xl-3
            +productItem
        .col-sm-6.col-md-4.col-xl-3  
            +productItem
        .col-sm-6.col-md-4.col-xl-3    
            +productItem
        .col-sm-6.col-md-4.col-xl-3    
            +productItem
        .col-sm-6.col-md-4.col-xl-3    
            +productItem
        .col-sm-6.col-md-4.col-xl-3    
            +productItem

