.product-info.container-fluid
    .item-info.row.m-0.mt-2
        .item-gallery.col-md-7
            .owl-carousel.owl-theme.owl-carousel-image
                .item.banner
                    .img-banner
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/1200x1200/images/2019/10/09/casanha-tvstand-contempo-0051-1570619940.jpg", alt="")
                .item.banner
                    .img-banner
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/1200x1200/images/2019/10/09/casanha-tvstand-contempo-0060-1570619941.jpg", alt="")
                .item.banner
                    .img-banner
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/1200x1200/images/2019/10/09/casanha-tvstand-contempo-0046-1570619947.jpg", alt="")
                .item.banner
                    .img-banner
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/1200x1200/images/2019/10/09/casanha-tvstand-contempo-0026-1570619947.jpg", alt="")
        .item-details.col-md-5
            .item-name
                p.name tủ tivi
                .brand
                    span thương hiệu: 
                    span mã số: 0001A12
            hr
            .price
                .product-body
                    span chất liệu:
                    span gỗ ép công nghiệp
                .product-body
                    span kích thước:
                    span 160 x 45 x 50
                        
                .quantity
                    span số lượng:
                    .numberics
                        button.btn-number(data-type="minus") -
                        input.input-number(type="text", value="1", name="price", min="1" max="10") 
                        button.btn-number(data-type="plus") +
                    #maxquantity.extent.mt-1
                        span Số lượng sản phẩm còn lại không đủ
                .price
                    span giá:
                    span 
                
            hr
            .shipping
                .title
                    <i class="fas fa-truck"></i>
                    span phương thức giao hàng 
                .body
                    p chúng tôi sẽ giao hàng cho bạn dự kiến từ 3 - 5 ngày
                    .fast-ship
                        input.btn-check(type="checkbox") 
                        span chọn phương thức giao hàng nhanh   
                #fastshipping.extent
                    span giao hàng nhanh sẽ tính thêm phí vận chuyển 
            hr
            .shopping
                <i class="fas fa-shopping-cart"></i> 
                span chọn mua         
    .tab-wrapper
        ul.container.tabs
            li.tab-title
                a(href="#tab-main-info") mô tả sản phẩm
            li.tab-title
                a(href="#tab-specification") thông số kỹ thuật
            li.tab-title
                a(href="#tab-preservation") hướng dẫn bảo quản
        .container.tab-content
            .tab-item-content#tab-main-info
                .infor-category
                    P.header thiết kế thông minh
                    .content-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, alias! 
                    .content-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente reiciendis veniam facilis accusantium consectetur!
                    .content-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eveniet quisquam optio facere eos vitae est perferendis eius quis iusto.
                .infor-category
                    P.header chất liệu tự nhiên
                    .content-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, alias! 
                    .content-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente reiciendis veniam facilis accusantium consectetur!
            .tab-item-content#tab-specification
                .infor-category
                    p.header thông số kĩ thuật
                    .content-info Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis cupiditate ab neque?
                    .content-info Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, laboriosam! Magnam, accusantium?
                .table-infor.row
                    .title.col-4 Lorem, ipsum.
                    .infor.col-8 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero magni nihil aut!
                .table-infor.row
                    .title.col-4 Lorem ipsum dolor sit amet.
                    .infor.col-8 Lorem, ipsum dolor.
                .table-infor.row
                    .title.col-4 Lorem, ipsum.
                    .infor.col-8 Lorem ipsum dolor sit amet consectetur.
            .tab-item-content#tab-preservation
                .infor-category
                    ul.preservation hướng dẫn bảo quản   
                        li.preservation-info Lorem, ipsum dolor.
                        li.preservation-info Lorem, ipsum dolor.
                        li.preservation-info Lorem, ipsum dolor sahdk.
                .infor-category
                    ul.preservation hướng dẫn bảo quản   
                        li.preservation-info Lorem, ipsum dolor.
                        li.preservation-info Lorem, ipsum dolor.
                        li.preservation-info Lorem, ipsum dolor sahdk.
            