#product-concept
    .product-concept
        .carousel-product
            .product-concept-item
                img(src="https://st.hzcdn.com/simgs/df1155bb06404d09_9-2133/asian-pool.jpg", alt="")
                .tag-item.item-1
                    <i class="fas fa-tag"></i>
                .tag-item.item-2
                    <i class="fas fa-tag"></i>
            .btn-group-contacts
                button.btn-email.btn.btn-light.mx-1
                    <i class="fas fa-paper-plane"></i>
                    |   Email
                button.btn-save.btn.btn-light.mx-1
                    <i class="fas fa-heart"></i>
                    |   Save
                button.btn-show.btn.btn-light#btn-show-controls
                    <i class="fas fa-ellipsis-h"></i>
                    ul.nav-controls#nav-controls-concept
                        li
                            <i class="fas fa-share-square"></i>
                            span Share
                        li
                            <i class="fas fa-pencil-alt"></i>
                            span Sketch
                        li
                            <i class="fas fa-compress-arrows-alt"></i>
                            span Fullscreen
                        li#btn-control-tags
                            <i class="fas fa-tag color-green"></i>
                            span Hide tags
        .more-product
            .items
                h1 aaaaa

