.side-bar.pt-4
    button.op-menu
        span.wrapper-op-menu
            span.icon-op-menu
.wrapper-sub-menu.pb-3
    .logo
        img(src="https://st.hzcdn.com/res/4125/pic/houzz_logo.svg?v=4125", alt="Logo")
    .sub-menu.my-3
        ul.menu-accordion
            .nav-box.px-3
                li.menu-accordion__item.d-flex.align-items-center
                    h6.m-0.menu-accordion__title SOFAS
                        <i class="fas fa-angle-down ml-2 icon-sub-menu"></i>
                ul.menu-accordion__sub-items
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") 3 seater sofas
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html")  2.5 seater sofas
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") 2 seater sofas
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Chaise longue sofas
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Sofas with open end
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Corner sofas
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Modular sofas
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Sofa beds
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Recliner sofas
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Daybeds
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Footstools
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Outdoor sofas
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") VIEW ALL SOFAS
            .nav-box.px-3
                li.menu-accordion__item.d-flex.align-items-center
                    h6.m-0.menu-accordion__title CHAIRS
                        <i class="fas fa-angle-down ml-2 icon-sub-menu"></i>
                ul.menu-accordion__sub-items
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Armchairs
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html")  Recliners
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Footstools
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Dining chairs
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Benches
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Bar stools
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Home office chairs
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Outdoor chairs
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Stools
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Seat cushions
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") VIEW ALL CHAIRS
            .nav-box.px-3
                li.menu-accordion__item.d-flex.align-items-center
                    h6.m-0.menu-accordion__title TABLES
                        <i class="fas fa-angle-down ml-2 icon-sub-menu"></i>
                ul.menu-accordion__sub-items
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Dining tables
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html")  Coffee tables
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Side tables
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Bar tables
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Desks
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Conference tables
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Outdoor tables
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Night stands
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") VIEW ALL TABLES
            .nav-box.px-3
                li.menu-accordion__item.d-flex.align-items-center
                    h6.m-0.menu-accordion__title STORAGE
                        <i class="fas fa-angle-down ml-2 icon-sub-menu"></i>
                ul.menu-accordion__sub-items
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Wall systems
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html")  Tv units
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Sideboards
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Cabinets
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Console tables
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Chests of drawers
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Bookcases & shelves
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Office storage
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Hallway furniture
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Wardrobes
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") VIEW ALL STORAGE  
            .nav-box.px-3
                li.menu-accordion__item.d-flex.align-items-center
                    h6.m-0.menu-accordion__title BEDS
                        <i class="fas fa-angle-down ml-2 icon-sub-menu"></i>
                ul.menu-accordion__sub-items
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Beds
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html")  Sofa beds
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Daybeds
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Mattresses
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") VIEW ALL BEDS
            .nav-box.px-3
                li.menu-accordion__item.d-flex.align-items-center
                    h6.m-0.menu-accordion__title ACCESSORIES
                        <i class="fas fa-angle-down ml-2 icon-sub-menu"></i>
                ul.menu-accordion__sub-items
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Decoration
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html")  Vases
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Flowerpots
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Mirrors
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") Throws & bedspreads
                    li.menu-accordion__item.px-3
                        a(href="../pages/index.html") VIEW ALL ACCESSORIES
