.tab-product-info
    .tab-wrapper
        ul.container.tabs
            li.tab-title
                a(href="#tab-main-info") mô tả sản phẩm
            li.tab-title
                a(href="#tab-specification") thông số kỹ thuật
            li.tab-title
                a(href="#tab-preservation") hướng dẫn bảo quản
        .container.tab-content
            .tab-item-content#tab-main-info
                .infor-category
                    P.header thiết kế thông minh
                    .content-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, alias! 
                    .content-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente reiciendis veniam facilis accusantium consectetur!
                    .content-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eveniet quisquam optio facere eos vitae est perferendis eius quis iusto.
                .infor-category
                    P.header chất liệu tự nhiên
                    .content-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, alias! 
                    .content-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente reiciendis veniam facilis accusantium consectetur!
            .tab-item-content#tab-specification
                .infor-category
                    p.header thông số kĩ thuật
                    .content-info Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis cupiditate ab neque?
                    .content-info Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, laboriosam! Magnam, accusantium?
                .table-infor.row
                    .title.col-4 Lorem, ipsum.
                    .infor.col-8 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero magni nihil aut!
                .table-infor.row
                    .title.col-4 Lorem ipsum dolor sit amet.
                    .infor.col-8 Lorem, ipsum dolor.
                .table-infor.row
                    .title.col-4 Lorem, ipsum.
                    .infor.col-8 Lorem ipsum dolor sit amet consectetur.
            .tab-item-content#tab-preservation
                .infor-category
                    ul.preservation hướng dẫn bảo quản   
                        li.preservation-info Lorem, ipsum dolor.
                        li.preservation-info Lorem, ipsum dolor.
                        li.preservation-info Lorem, ipsum dolor sahdk.
                .infor-category
                    ul.preservation hướng dẫn bảo quản   
                        li.preservation-info Lorem, ipsum dolor.
                        li.preservation-info Lorem, ipsum dolor.
                        li.preservation-info Lorem, ipsum dolor sahdk.
            