extends ../layouts/layout-admin.pug
block main-content    
    .page-wrapper
        // HEADER MOBILE
        header.header-mobile.d-block.d-lg-none
            .header-mobile__bar
                .container-fluid
                    .header-mobile-inner
                        a.logo(href='index.html')
                            img(src='images/icon/logo.png', alt='CoolAdmin')
                        button.hamburger.hamburger--slider(type='button')
                            span.hamburger-box
                                span.hamburger-inner
            nav.navbar-mobile
                .container-fluid
                    ul.navbar-mobile__list.list-unstyled
                        li.has-sub
                            a.js-arrow(href='#')
                                i.fas.fa-tachometer-alt
                                | Dashboard
                            ul.navbar-mobile-sub__list.list-unstyled.js-sub-list
                                li
                                    a(href='index.html') Dashboard 1
                                li
                                    a(href='index2.html') Dashboard 2
                                li
                                    a(href='index3.html') Dashboard 3
                                li
                                    a(href='index4.html') Dashboard 4
                        li
                            a(href='chart.html')
                                i.fas.fa-chart-bar
                                | Charts
                        li
                            a(href='table.html')
                                i.fas.fa-table
                                | Tables
                        li
                            a(href='form.html')
                                i.far.fa-check-square
                                | Forms
                        li
                            a(href='calendar.html')
                                i.fas.fa-calendar-alt
                                | Calendar
                        li
                            a(href='map.html')
                                i.fas.fa-map-marker-alt
                                | Maps
                        li.has-sub
                            a.js-arrow(href='#')
                                i.fas.fa-copy
                                | Pages
                            ul.navbar-mobile-sub__list.list-unstyled.js-sub-list
                                li
                                    a(href='login.html') Login
                                li
                                    a(href='register.html') Register
                                li
                                    a(href='forget-pass.html') Forget Password
                        li.has-sub
                            a.js-arrow(href='#')
                                i.fas.fa-desktop
                                | UI Elements
                            ul.navbar-mobile-sub__list.list-unstyled.js-sub-list
                                li
                                    a(href='button.html') Button
                                li
                                    a(href='badge.html') Badges
                                li
                                    a(href='tab.html') Tabs
                                li
                                    a(href='card.html') Cards
                                li
                                    a(href='alert.html') Alerts
                                li
                                    a(href='progress-bar.html') Progress Bars
                                li
                                    a(href='modal.html') Modals
                                li
                                    a(href='switch.html') Switchs
                                li
                                    a(href='grid.html') Grids
                                li
                                    a(href='fontawesome.html') Fontawesome Icon
                                li
                                    a(href='typo.html') Typography
        // END HEADER MOBILE
        // MENU SIDEBAR
        aside.menu-sidebar.d-none.d-lg-block
            .logo
                a(href='#')
                    img(src='images/icon/logo.png', alt='Cool Admin')
            .menu-sidebar__content.js-scrollbar1
                nav.navbar-sidebar
                    ul.list-unstyled.navbar__list
                        li.has-sub
                            a.js-arrow(href='#')
                                i.fas.fa-tachometer-alt
                                | Dashboard
                            ul.list-unstyled.navbar__sub-list.js-sub-list
                                li
                                    a(href='index.html') Dashboard 1
                                li
                                    a(href='index2.html') Dashboard 2
                                li
                                    a(href='index3.html') Dashboard 3
                                li
                                    a(href='index4.html') Dashboard 4
                        li.active
                            a(href='chart.html')
                                i.fas.fa-chart-bar
                                | Charts
                        li
                            a(href='table.html')
                                i.fas.fa-table
                                | Tables
                        li
                            a(href='form.html')
                                i.far.fa-check-square
                                | Forms
                        li
                            a(href='calendar.html')
                                i.fas.fa-calendar-alt
                                | Calendar
                        li
                            a(href='map.html')
                                i.fas.fa-map-marker-alt
                                | Maps
                        li.has-sub
                            a.js-arrow(href='#')
                                i.fas.fa-copy
                                | Pages
                            ul.list-unstyled.navbar__sub-list.js-sub-list
                                li
                                    a(href='login.html') Login
                                li
                                    a(href='register.html') Register
                                li
                                    a(href='forget-pass.html') Forget Password
                        li.has-sub
                            a.js-arrow(href='#')
                                i.fas.fa-desktop
                                | UI Elements
                            ul.list-unstyled.navbar__sub-list.js-sub-list
                                li
                                    a(href='button.html') Button
                                li
                                    a(href='badge.html') Badges
                                li
                                    a(href='tab.html') Tabs
                                li
                                    a(href='card.html') Cards
                                li
                                    a(href='alert.html') Alerts
                                li
                                    a(href='progress-bar.html') Progress Bars
                                li
                                    a(href='modal.html') Modals
                                li
                                    a(href='switch.html') Switchs
                                li
                                    a(href='grid.html') Grids
                                li
                                    a(href='fontawesome.html') Fontawesome Icon
                                li
                                    a(href='typo.html') Typography
        // END MENU SIDEBAR
        // PAGE CONTAINER
        .page-container
            // HEADER DESKTOP
            header.header-desktop
                .section__content.section__content--p30
                    .container-fluid
                        .header-wrap
                            form.form-header(action='', method='POST')
                                input.au-input.au-input--xl(type='text', name='search', placeholder='Search for datas & reports...')
                                button.au-btn--submit(type='submit')
                                    i.zmdi.zmdi-search
                            .header-button
                                .noti-wrap
                                    .noti__item.js-item-menu
                                        i.zmdi.zmdi-comment-more
                                        span.quantity 1
                                        .mess-dropdown.js-dropdown
                                            .mess__title
                                                p You have 2 news message
                                            .mess__item
                                                .image.img-cir.img-40
                                                    img(src='images/icon/avatar-06.jpg', alt='Michelle Moreno')
                                                .content
                                                    h6 Michelle Moreno
                                                    p Have sent a photo
                                                    span.time 3 min ago
                                            .mess__item
                                                .image.img-cir.img-40
                                                    img(src='images/icon/avatar-04.jpg', alt='Diane Myers')
                                                .content
                                                    h6 Diane Myers
                                                    p You are now connected on message
                                                    span.time Yesterday
                                            .mess__footer
                                                a(href='#') View all messages
                                    .noti__item.js-item-menu
                                        i.zmdi.zmdi-email
                                        span.quantity 1
                                        .email-dropdown.js-dropdown
                                            .email__title
                                                p You have 3 New Emails
                                            .email__item
                                                .image.img-cir.img-40
                                                    img(src='images/icon/avatar-06.jpg', alt='Cynthia Harvey')
                                                .content
                                                    p Meeting about new dashboard...
                                                    span Cynthia Harvey, 3 min ago
                                            .email__item
                                                .image.img-cir.img-40
                                                    img(src='images/icon/avatar-05.jpg', alt='Cynthia Harvey')
                                                .content
                                                    p Meeting about new dashboard...
                                                    span Cynthia Harvey, Yesterday
                                            .email__item
                                                .image.img-cir.img-40
                                                    img(src='images/icon/avatar-04.jpg', alt='Cynthia Harvey')
                                                .content
                                                    p Meeting about new dashboard...
                                                    span Cynthia Harvey, April 12,,2018
                                            .email__footer
                                                a(href='#') See all emails
                                    .noti__item.js-item-menu
                                        i.zmdi.zmdi-notifications
                                        span.quantity 3
                                        .notifi-dropdown.js-dropdown
                                            .notifi__title
                                                p You have 3 Notifications
                                            .notifi__item
                                                .bg-c1.img-cir.img-40
                                                    i.zmdi.zmdi-email-open
                                                .content
                                                    p You got a email notification
                                                    span.date April 12, 2018 06:50
                                            .notifi__item
                                                .bg-c2.img-cir.img-40
                                                    i.zmdi.zmdi-account-box
                                                .content
                                                    p Your account has been blocked
                                                    span.date April 12, 2018 06:50
                                            .notifi__item
                                                .bg-c3.img-cir.img-40
                                                    i.zmdi.zmdi-file-text
                                                .content
                                                    p You got a new file
                                                    span.date April 12, 2018 06:50
                                            .notifi__footer
                                                a(href='#') All notifications
                                .account-wrap
                                    .account-item.clearfix.js-item-menu
                                        .image
                                            img(src='images/icon/avatar-01.jpg', alt='John Doe')
                                        .content
                                            a.js-acc-btn(href='#') john doe
                                        .account-dropdown.js-dropdown
                                            .info.clearfix
                                                .image
                                                    a(href='#')
                                                        img(src='images/icon/avatar-01.jpg', alt='John Doe')
                                                .content
                                                    h5.name
                                                        a(href='#') john doe
                                                    span.email johndoe@example.com
                                            .account-dropdown__body
                                                .account-dropdown__item
                                                    a(href='#')
                                                        i.zmdi.zmdi-account
                                                        | Account
                                                .account-dropdown__item
                                                    a(href='#')
                                                        i.zmdi.zmdi-settings
                                                        | Setting
                                                .account-dropdown__item
                                                    a(href='#')
                                                        i.zmdi.zmdi-money-box
                                                        | Billing
                                            .account-dropdown__footer
                                                a(href='#')
                                                    i.zmdi.zmdi-power
                                                    | Logout
            // END HEADER DESKTOP
            // MAIN CONTENT
            .main-content
                .section__content.section__content--p30
                    .container-fluid
                        .row
                            .col-lg-6
                                .au-card.m-b-30
                                    .au-card-inner
                                        h3.title-2.m-b-40 Yearly Sales
                                        canvas#sales-chart
                            .col-lg-6
                                .au-card.m-b-30
                                    .au-card-inner
                                        h3.title-2.m-b-40 Team Commits
                                        canvas#team-chart
                            .col-lg-6
                                .au-card.m-b-30
                                    .au-card-inner
                                        h3.title-2.m-b-40 Bar chart
                                        canvas#barChart
                            .col-lg-6
                                .au-card.m-b-30
                                    .au-card-inner
                                        h3.title-2.m-b-40 Rader chart
                                        canvas#radarChart
                            .col-lg-6
                                .au-card.m-b-30
                                    .au-card-inner
                                        h3.title-2.m-b-40 Line Chart
                                        canvas#lineChart
                            .col-lg-6
                                .au-card.m-b-30
                                    .au-card-inner
                                        h3.title-2.m-b-40 Doughut Chart
                                        canvas#doughutChart
                            .col-lg-6
                                .au-card.m-b-30
                                    .au-card-inner
                                        h3.title-2.m-b-40 Pie Chart
                                        canvas#pieChart
                            .col-lg-6
                                .au-card.m-b-30
                                    .au-card-inner
                                        h3.title-2.m-b-40 Polar Chart
                                        canvas#polarChart
                            .col-lg-6
                                .au-card.m-b-30
                                    .au-card-inner
                                        h3.title-2.m-b-40 Single Bar Chart
                                        canvas#singelBarChart
                        .row
                            .col-md-12
                                .copyright
                                    p
                                        | Copyright © 2018 Colorlib. All rights reserved. Template by 
                                        a(href='https://colorlib.com') Colorlib
                                        | .
            // END MAIN CONTENT
            // END PAGE CONTAINER
