extends ../layouts/layout.pug
block main-content
    .layout-content
        section#header
            include ./../partials/header.pug
            include ./../partials/navigation.pug
        main#main-content
            .container-fluid.mt-3
                .row.m-0
                    .col-3.p-0
                        include ./../partials/category-product-content.pug
                    .col-9
                        include ./../partials/list-product-category.pug
        section#footer
            include ./../partials/footer.pug
