extends ../layouts/layout.pug
block main-content
    .layout-content
        section#header
            include ./../partials/header.pug
            include ./../partials/navigation.pug
        main#main-content
            .container-fluid.mt-3
                .wrapper-category.d-flex
                    .wrapper-category_menu.col-3
                        include ./../partials/category-product-content.pug
                    .wrapper-category_product.col-lg-9
                        .product-list.px-3
                            .product-list-title.d-flex.justify-content-between.align-items-center.mb-2
                                h3 Sản phẩm mua nhiều
                                a.read-more(href="#") Xem thêm 
                                    i.fas.fa-chevron-right
                            include ./../partials/list-product-category.pug
        section#footer
            include ./../partials/footer.pug
