extends ../layouts/layout.pug
block main-content
    section.concept-layout
        .concept-img-area
            p aasdadsasdasd
        .concept-info-area
            include ./../partials/concept-info-content.pug
        