extends ../layouts/layout.pug
block main-content
    .layout-content
        .row.mx-0
            .col-8.px-0
                section#left-concept
                    include ./../partials/product-concept.pug