#sidebar{
    .main-title{
        h3{
            padding: 13px 15px;
            font-size: 16px;
            color: #070404;
            border-bottom: 1px solid rgba(8,21,38,.15);
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .sidebar-menu{
        width: 240px;
        border: 1px solid rgba(8,21,38,.15);
        .menu-item{
            padding: 3px 0;
        }
        .sub-menu-content{
            padding: 10px 15px;
            margin-bottom: 0;
            a{
                text-decoration: none;
                color: #070404;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 14px;
                span{
                    color: #333;
                    font-weight: 500;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
            
        }
        .main-content{
            padding: 10px 15px !important;
            .filter-content{
                margin-top: 10px;
                .search{
                    position: relative;
                    button{
                        position: absolute;
                        border: none;
                        background: transparent;
                        outline: none;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 20px;
                    }
                    input{
                        width: 100%;
                        font-size: 14px;
                        padding: 2px 5px 2px 20px;
                    }
                }
            }
        }
        .content-flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        i{
            font-size: 12px;
        }
    }
}